<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.313459507705-1k57s4u6ejhm8kl5c93ql4hu5th2r0eq</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>313459507705-1k57s4u6ejhm8kl5c93ql4hu5th2r0eq.apps.googleusercontent.com</string>
	<key>PostHogHost</key>
	<string>https://us.i.posthog.com</string>
	<key>PostHogProjectToken</key>
	<string>phc_3hRgReCLQ0X9ta7ElpTS4I8SBiFsdNHDMbYewuPIpBf</string>
	<key>RevenueCatAPIKey</key>
	<string>appl_prmQlhmWmtJdjyklqnPdmsbgTaN</string>
</dict>
</plist>
